
@mixin localize-width($class,$lang,$width){
    .#{$class}:lang(#{$lang}) {
        width: $width;
    }
}


@mixin localize-width-right($class,$lang,$width,$right){
    .#{$class}:lang(#{$lang}) {
        width: $width!important;
        right: $right!important;
    }
}