* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	color: #B0BEC5;
	display: table;
	font-weight: 100;
	font-family: 'Lato';
}

.container {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

.content {
	text-align: center;
	display: inline-block;
}

.title {
	font-size: 100px;
	margin-bottom: 40px;
}

.goback {
	display: block;
	margin: 0 auto;
	border: 1px solid #b0bec5;
	padding: 8px 0;
	width: 180px;
	color: #B0BEC5;
	font-size: 20px;
	text-decoration: none;
	border-radius: 80px;
}

.goback:hover {
	background: rgba(176, 190, 197, .1);
}