.summary span.symptom-title {
	font-weight: bold;
	margin-right: 10px;
	font-size: 16px;
}

.summary .cc, .summary .hpi {
	margin-right: 5px;
}

/**************/
body {
	
}

.col-30 {
	width: 30%;
}

.patient-info {
	font-family: PingFangSC;
	font-size: 16px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	text-align: left;
	color: #444444;
}

.patient-info span {
	margin-left: 10px;
	color: #0065a3;
}

.page-title {
	font-family: STHeitiSC, 'microsoft yahei';
	font-size: 20px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	text-align: left;
	color: #0065a3;
	margin: 5px auto 13px 3px;
}

.content {
	background-color: #f6f6f6;
}

.section-title {
	margin-left: 10px;
	font-family: PingFangSC;
	font-size: 16px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	text-align: left;
	color: #444444;
}

.section-content {
	padding: 13px 13px 13px 11px;
	background-color: #ffffff;
	border: solid 1px #cdcdcd;
}

#home .section-content {
	padding: 13px 13px 74px 11px;
	background-color: #ffffff;
	border: solid 1px #cdcdcd;
}

.section-split-line {
	height: 3px;
	border-top: solid 1px #cdcdcd;
	margin: 9px 0px 8px 0px;
}

.list-block ul:before, .list-block ul:after {
	height: 0px;
}

.list-block .item-content {
	padding-left: 0px;
	min-height: initial;
}

.list-block .item-inner {
	padding-right: 0px;
	display: block;
}

.row {
	margin-left: 0px;
}

.row .col-50 {
	width: 50%;
	padding: 1px 0px 0px 1px;
	margin: 0px;
}

.envi-cell {
	height: 50px;
	background-color: #dddddd;
	text-align: left;
	padding: 16px 10px;
	color: #444444;
	display: inline-block;
}

.envi-cell.active {
	background-color: #68b8df;
	color: white;
}

.envi-cell.disabled {
	color: #999999;
}

.list-block .envi-cell {
	width: 100%;
	display: block;
}

.envi-cell label {
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	height: 18px;
	line-height: 18px;
	font-size: 16px;
	display: block;
	overflow: hidden;
	font-family: STHeitiSC, 'Microsoft yahei';
}

#home .envi-cell {
	text-align: center;
	padding-top: 16px;
	padding-bottom: 14px;
}

#home .envi-cell label {
	height: 20px;
	font-size: 20px;
	letter-spacing: -0.9px;
}

.list-block .item-inner {
	padding: 0px;
	min-height: initial;
}

.list-block {
	margin: 0px 0px 0px 0px;
}

#home .list-block {
	margin-bottom: 24px;
}

#home .or div {
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #cdcdcd;
	line-height: 0.1em;
	margin: 20px 0px 20px 0px;
}

#home .or div span {
	background: white;
	padding: 0 10px;
	width: 35.7px;
	height: 21px;
	font-family: STHeitiSC, 'Microsoft yahei';
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	text-align: left;
	color: #444444;
}

.searchbar {
	height: 45px;
	background-color: #f6f6f6;
	border: solid 1px #cdcdcd;
	padding: 0px;
	margin-top: 7px;
}

.searchbar .search-input input {
	height: auto;
	background-color: #f6f6f6;
	border: 0px;
	padding: 0px;
	font-family: 'Helvetica Neue';
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: -0.7px;
	text-align: left;
	color: #777777;
	padding: 11px 0px 12px 14px;
}

.searchbar .search-input {
	margin: 0px;
	width: 85%;
}

.searchbar .button {
	width: 15%;
	height: 45px;
	background-color: #68b8df;
	border-radius: 0px;
	float: right;
	line-height: 45px;
	font-size: 24px;
}

header.bar {
	height: 55px;
	background-color: #0065a3;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
	line-height: 55px;
}

header .title {
	margin-left: 5px;
	font-size: 24px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: 1.3px;
	text-align: left;
	color: #ffffff;
	letter-spacing: 1.6px;
	margin: 0px;
	line-height: 55px;
}

.bar-nav ~.content {
	top: 55px;
	bottom: 50px;
}

#home .bar-nav ~.content {
	bottom: 0px;
}

.bar-footer {
	height: 50px;
	background-color: #ffffff;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
}

.tab-item {
	height: 30px;
	font-family: STHeitiSC, 'microsoft yahei';
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: 1.8px;
	text-align: left;
	color: #ffc000;
	margin: 10px 0px 10px 0px;
	border-radius: 3px;
	border: solid 2px #ffc000;
	padding: 0 13px;
	cursor: default;
}

.bar .icon {
	padding: 0;
	font-size: 16px;
	line-height: 14px;
}

.summary {
	border-radius: 0px;
	margin: 10px 0px 0px 0px;
	color: #0065a3;
	border-top: solid 1px #cdcdcd;
	border-bottom: solid 1px #cdcdcd;
	padding: 11px 10px 12px 10px;
	background-color: #ffffff;
}

.summary .summary-content {
	padding-bottom: 5px;
}

.summary .row .col-33 {
	margin-left: 0px;
	width: 33.3333333%;
	overflow: hidden;
	height: 22px;
	font-family: PingFangSC;
	font-size: 16px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	text-align: left;
	color: #444444;
}

.summary .row .col-33 span {
	color: #0065a3;
	margin-left: 10px;
}

.summary .symptom-title {
	font-family: PingFangSC;
	font-size: 16px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	text-align: left;
	color: #444444;
}

.summary .cc, .summary .hpi {
	font-family: PingFangSC;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	text-align: left;
	color: #0065a3;
}

.summary .cc {
	font-weight: 600;
}

#additional-cc #extra_symptom {
	margin-top: 17px;
}

.envi-button {
	background-color: #ffc000;
	color: white;
}

.envi-button span {
	font-family: MicrosoftYaHei;
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: 1.8px;
	text-align: left;
	color: #ffffff;
}

.leave-message {
	font-family: PingFangSC;
	font-size: 16px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.81;
	text-align: left;
	color: #0065a3;
}

#finish .edit-button {
	font-family: PingFangSC;
	font-size: 16px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	text-align: left;
	color: #ffc000;
}

#finish .envi-icon {
	width: 23px;
	height: 23px;
	color: #68b8df;
	border-radius: 12px;
	background: white;
	text-align: center;
	margin-left: 10px;
	font-weight: 500;
}

#finish .envi-icon .icon-subtract {
	font-weight: bold;
}

#finish .user-input-keywords {
	font-family: PingFangSC;
	font-size: 16px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.81;
	text-align: left;
	color: #0065a3;
}

#finish .user-input-string {
	font-family: PingFangSC;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	text-align: left;
	color: #444444;
	margin-left: 11px;
	margin-top: 6px;
}

#finish .user-input-string span {
	font-weight: 600;
}

.confirm_tip {
	font-family: PingFangSC;
	font-size: 16px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	text-align: left;
	color: #444444;
}

.confirm_keywords {
	margin: auto 67px
}

.confirm_keywords .envi-cell {
	margin: 10px auto;
}

.modal {
	width: 90%;
	margin-left: -45%;
}

.modal-inner {
	background-color: white;
	/*height: 500px;*/
}

.modal .modal-buttons {
	border-top: solid 1px #ffc000;
	height: 50px;
}

.modal-button:after {
	background-color: white;
}

.modal-button {
	height: 50px;
	border-radius: 6px;
	padding: 14px auto 15px auto;
	background-color: #ffc000;
	font-family: MicrosoftYaHei;
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: 1.8px;
	color: white;
}

.modal-button:first-child {
	background-color: white;
	color: #ffc000;
}

.modal .envi-cell {
	display: block;
}

#summary-container .card.summary {
	border: 0px;
	box-shadow: none;
}

#summary-container .card.summary .card-header {
	border-radius: 0px;
	padding: 0px;
}

#summary-container .card.summary .card-content-inner {
	padding: 0px;
	margin-top: -15px;
	border-top: 1px solid red;
}

#summary-container .envi-cell {
	margin-right: 10px;
	margin-bottom: 10px;
	height: 40px;
	padding: 11px 10px;
}

#summary-text-container {
	background-color: white;
	padding: 13px 12px;
	color: #0065a3;
	border: solid 1px #cdcdcd;
}

#summary-text-container .cc {
	font-weight: 600;
}

#summary-edit-container {
	color: #0065a3;
	border: solid 1px #cdcdcd;
	background-color: white;
}

#summary-edit-container .summary-edit-header {
	padding: 13px 12px 0px 12px;;
}

#summary-edit-container .summary-edit-inner {
	background-color: #f6f6f6;
}

#summary-edit-container .envi-cell {
	height: 40px;
	padding: 10px 10px;
	margin-left: 10px;
	overflow: hidden;
	cursor: default;
	font-family: STHeitiSC;
	font-size: 18px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	text-align: left;
	margin-bottom: 10px;
}

#summary-edit-container .envi-cell span {
	font-size: 18px;
	margin-right: 10px;
}

#summary-edit-container .envi-cell em {
	font-size: 23px;
	margin-top: -8px;
}

#summary-edit-container .summary-edit-inner .hpi {
	position: relative;
}

#summary-edit-container .summary-edit-inner .cc {
	background-color: white;
	padding-top: 20px;
	padding-bottom: 0px;
}

#summary-edit-container .summary-edit-inner .symptom-item:first-child .cc
	{
	padding-top: 0px;
}

.symptom-item {
	border-bottom: 1px solid #cdcdcd;
}

#summary-edit-container .summary-edit-inner .cc, #summary-edit-container .summary-edit-inner .hpi
	{
	padding: 10px 13px 10px 3px;
	font-size: 0;
}

#summary-edit-container .summary-edit-inner .hpi {
	border-top: 1px solid #cdcdcd;
	padding-top: 10px;
	padding-left: 3px;
	padding-bottom: 0px;
	padding-right: 0px;
}

#summary-edit-container .envi-cell.cc-term {
	margin-bottom: 0px;
}

.caret {
	position: absolute;
	background: url('/img/caret.png') top left no-repeat;
	width: 19px;
	height: 10px;
	top: -10px;
	left: 50px;
}

#suggestion_results ul {
	padding: 0px 11px 0px 7px;
	list-style: none;
	border: 1px solid #cdcdcd;
	margin: 0px;
}

#suggestion_results ul li {
	padding: 8.5px 0px 7.5px 7.5px;
	font-family: PingFangSC;
	font-size: 16px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	text-align: left;
	color: #0065a3;
	border-bottom: 1px solid #cdcdcd;
}

#suggestion_results ul li:last-child {
	border-bottom: 0px;
}

.noResults {
	text-align: center;
}

.noResults .message {
	margin: 41px auto 17px auto;
	font-family: PingFangSC;
	font-size: 16px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	text-align: left;
	color: #444444;
	width: 236px;
}

.noResults input[type=button] {
	height: 50px;
	border-radius: 4px;
	background-color: #ffc000;
	font-family: MicrosoftYaHei;
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: 1.8px;
	text-align: left;
	color: #ffffff;
	padding: 12px 53px 17px 54px;
	border: 0px;
	margin: 0px auto;
}

.list-block .item-inner:after {
	display: none;
}

.summary .cc-hpi {
	display: inline;
}

#finish .cc-hpi {
	display: block;
	line-height: 1.81;
}

#finish .section-title {
	margin-left: 0px;
}

#finish .inputSymptom {
	padding-left: 12px
}

.symptom-add {
	background-color: white;
	padding: 19px 0px 21px 13px;
}

#summary-edit-container .envi-cell.add {
	color: #68b8df;
	border: 1px solid #68b8df;
	background-color: white;
	line-height: 18px;
	margin: 0px;
	cursor: default;
}

#edit_summary_done_button, #edit_summary_button {
	cursor: default;
}

#patient_freeform_note #btn-submit-note {
	margin: 10px;
}

#patient_freeform_note #patient-note {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	resize: none;
	margin-top: 10px;
}

#summary-text {
	font-family: PingFangSC;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.81;
	text-align: left;
	color: #0065a3;
}

#summary-text .cc {
	font-weight: 600;
}

#symptom-block-list {
    overflow:hidden; 
    overflow-y:scroll;	
    height: 400px;
}

.lang-zh_hk .patient-info .col-50, .lang-en .patient-info .col-50 {
	width: 100%;
}

.lang-zh_hk .patient-info .col-30, .lang-zh_hk .patient-info .col-20,
	.lang-en .patient-info .col-30, .lang-en .patient-info .col-20 {
	width: 50%;
}

.note-form {
}

#btn-submit-note {
	float: right;
	margin-right: 10px;
}

#symptoms-container {
	padding: 10px; 
	background-color: #efefef;
}
#symptoms-container #btn-confirm {
	float: right;
}

#symptoms label {
	margin-right: 10px;
}
