@charset "UTF-8";
html {
    font-size: 20px;
}

html,
body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    width: 100%;
}

body {
    font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif !important;
    line-height: 1.5;
    font-size: 13px;
    color: #212121;
    background-color: #f5f5f5;
    outline: 0;
}

html,
body,
header,
section,
footer,
div,
ul,
ol,
li,
img,
a,
span,
em,
del,
legend,
center,
strong,
var,
fieldset,
form,
label,
dl,
dt,
dd,
cite,
input,
hr,
time,
mark,
code,
figcaption,
figure,
textarea,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    border: 0;
    padding: 0;
    font-style: normal;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

@media only screen and (min-width: 400px) {
    html {
        font-size: 21.33333333px !important;
    }
}

@media only screen and (min-width: 414px) {
    html {
        font-size: 21px !important;
    }
}

@media only screen and (min-width: 480px) {
    html {
        font-size: 25.6px !important;
    }
}

ul,
li {
    list-style: none;
}

p {
    font-size: 0.7rem;
    color: #757575;
}

a {
    color: #0062cc;
    text-decoration: none;
    background-color: transparent;
}

textarea {
    overflow: hidden;
    resize: none;
}

button {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
input,
select,
textarea {
    font: inherit;
    color: inherit;
}

.mint-header .mint-button {
    color: white;
    font-size: 20px;
}

.mint-header .mint-button.glyphicon-user {
    font-size: 18px;
}

.envi-chat {
    width: 100%;
    height: 100%;
    /*padding: 0.5rem;*/
}

.envi-chat .envi-chat-item {
    position: relative;
    width: 100%;
    margin-bottom: 0px;
    overflow: hidden;
    display: block;
}

.envi-chat .envi-chat-header {
    width: 100%;
    text-align: center;
    margin-bottom: 0.75rem;
    font-size: 0.6rem;
    color: #757575;
}

.envi-chat .envi-chat-left {
    float: left;
    padding: 0px 0px 0px 50px;
}

.envi-chat .envi-chat-right {
    float: right;
    padding: 0px 50px 0px 0px;
}

.envi-chat .envi-chat-media {
    width: 40px;
}

.envi-chat .envi-chat-media img {
    width: 100%;
    border-radius: 50%;
}

.envi-chat .envi-chat-inner {
    position: relative;
    overflow: hidden;
    display: inherit;
}

.envi-chat .envi-chat-arrow {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0.2rem;
    -webkit-transform-origin: 50% 50% 0;
    transform-origin: 50% 50% 0;
    background-color: transparent;
}

.envi-chat .envi-chat-left .envi-chat-arrow {
    background-image: -webkit-linear-gradient(45deg, #ffffff, #ffffff 50%, transparent 50%);
    background-image: linear-gradient(45deg, #ffffff, #ffffff 50%, transparent 50%);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    left: -3px;
}

.envi-chat .envi-chat-right .envi-chat-arrow {
    background-image: -webkit-linear-gradient(45deg, #b3e5fc, #b3e5fc 50%, transparent 50%);
    background-image: linear-gradient(45deg, #b3e5fc, #b3e5fc 50%, transparent 50%);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    right: -3px;
}

.envi-chat .envi-chat-content {
    color: #212121;
    font-size: 14px;
    border-radius: 0.2rem;
    position: relative;
    padding: 6px;
    word-break: break-all;
    word-wrap: break-word;
}

.envi-chat .envi-chat-content img {
    max-width: 100%;
    display: block;
}

.envi-chat .envi-chat-status {
    position: relative;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
}

.envi-chat .envi-chat-name {
    width: 100%;
    position: relative;
    font-size: 0.6rem;
    color: #757575;
    margin-bottom: 0.25rem;
}

.envi-chat .envi-chat-left .envi-chat-name {
    left: 0.5rem;
}

.envi-chat .envi-chat-left .envi-chat-status {
    left: 0.5rem;
    float: left;
}

.envi-chat .envi-chat-left .envi-chat-media {
    float: left;
    margin-left: -40px;
}

.envi-chat .envi-chat-left .envi-chat-inner {
    max-width: 70%;
}

.envi-chat .envi-chat-left .envi-chat-content {
    background-color: #fff;
    float: left;
    margin-left: 10px;
}

.envi-chat .envi-chat-right .envi-chat-media {
    float: right;
    margin-right: -40px;
}

.envi-chat .envi-chat-right .envi-chat-inner {
    float: right;
    max-width: 70%;
}

.envi-chat .envi-chat-right .envi-chat-name {
    float: right;
    margin-right: 10px;
    text-align: right;
}

.envi-chat .envi-chat-right .envi-chat-content {
    background-color: #b3e5fc;
    margin-right: 10px;
    float: right;
}

.envi-chat .envi-chat-right .envi-chat-status {
    float: right;
    right: 0.5rem;
}

.envi-chat .envi-chat-left .envi-chat-content,
.envi-chat .envi-chat-right .envi-chat-content {
    width: calc(100% - 70px)/*69%*/
    ;
}

.envi-chat .envi-chat-right .envi-chat-content {
    /*max-width: 70%;*/
}

.envi-padded-5 {
    padding: 0.25rem !important;
}

.envi-row {
    overflow: hidden;
    margin: 0;
}

.envi-row-padded {
    margin-left: -0.125rem;
    margin-right: -0.125rem;
}

.envi-row-padded [class*=envi-col-xs-] {
    padding: 0.125rem;
}

.envi-col-xs-1,
.envi-col-xs-2,
.envi-col-xs-3,
.envi-col-xs-4,
.envi-col-xs-5,
.envi-col-xs-6,
.envi-col-xs-7,
.envi-col-xs-8,
.envi-col-xs-9,
.envi-col-xs-10,
.envi-col-xs-11,
.envi-col-5 {
    position: relative;
    float: left;
}

.envi-col-xs-12 {
    width: 100%;
    position: relative;
}

.envi-col-xs-11 {
    width: 91.66666667%;
}

.envi-col-xs-10 {
    width: 83.33333333%;
}

.envi-col-xs-9 {
    width: 75%;
}

.envi-col-xs-8 {
    width: 66.66666667%;
}

.envi-col-xs-7 {
    width: 58.33333333%;
}

.envi-col-xs-6 {
    width: 50%;
}

.envi-col-xs-5 {
    width: 41.66666667%;
}

.envi-col-xs-4 {
    width: 33.33333333%;
}

.envi-col-xs-3 {
    width: 25%;
}

.envi-col-xs-2 {
    width: 16.66666667%;
}

.envi-col-xs-1 {
    width: 8.33333333%;
}

.envi-col-5 {
    width: 20%;
}

.envi-radio,
.envi-checkbox {
    width: 0.8rem;
    height: 0.8rem;
    background-color: #ffffff;
    border: 1px solid #c0ccda;
    -webkit-border-radius: 0.6rem;
    border-radius: 0.6rem;
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
    position: relative;
    display: inline-block;
    vertical-align: top;
    cursor: default;
    -webkit-appearance: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-transition: background-color ease 0.1s;
    transition: background-color ease 0.1s;
}

.envi-checkbox {
    border-radius: 0.1rem;
}

.envi-radio:checked,
.envi-radio.envi-checked,
.envi-checkbox:checked,
.envi-checkbox.envi-checked {
    background-color: #03a9f4;
    border: solid 1px #03a9f4;
    text-align: center;
    background-clip: padding-box;
}

.envi-radio:checked:before,
.envi-radio.envi-checked:before,
.envi-checkbox:checked:before,
.envi-checkbox.envi-checked:before,
.envi-radio:checked:after,
.envi-radio.envi-checked:after,
.envi-checkbox:checked:after,
.envi-checkbox.envi-checked:after {
    content: '';
    width: 0.5rem;
    height: 0.3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -0.25rem;
    margin-top: -0.25rem;
    background: transparent;
    border: 1px solid #ffffff;
    border-top: none;
    border-right: none;
    z-index: 2;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.envi-radio:disabled,
.envi-radio.envi-disabled,
.envi-checkbox:disabled,
.envi-checkbox.envi-disabled {
    background-color: #dddddd;
    border: solid 1px #dddddd;
}


/*
.envi-radio:disabled:before,
.envi-radio.envi-disabled:before,
.envi-radio:disabled:after,
.envi-radio.envi-disabled:after,
.envi-checkbox:disabled:before,
.envi-checkbox.envi-disabled:before,
.envi-checkbox:disabled:after,
.envi-checkbox.envi-disabled:after {
    content: '';
    width: 0.5rem;
    height: 0.3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -0.25rem;
    margin-top: -0.25rem;
    background: transparent;
    border: 1px solid #ffffff;
    border-top: none;
    border-right: none;
    z-index: 2;
    -webkit-border-radius: 0;
            border-radius: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
}*/

#main-data {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 40px;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    animation-fill-mode: backwards;
}

.loading {
    text-align: center;
}

textarea {
    width: 100%;
    /*background-color: #eff2f7;
    border-color: #d3dce6;*/
    margin: 1px 0 0px;
    padding: 5px;
    line-height: 1.5;
    width: 100%;
}

.envi-cell label {
    font-weight: normal;
    /* font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    font-size: 12px;
    display: block;
    overflow: hidden;
    line-height: 1rem;
    padding-bottom: 1px; */
}

.edit-link {
    color: #26a2ff;
    display: inline-block;
    float: left;
    background-color: #fff;
    text-align: center;
    padding: 2px 8px;
    font-size: 12px;
    cursor: pointer;
    margin-left: 0.7rem;
}

.mint-popup {
    width: 100%;
    height: 300px;
}

.text-center {
    text-align: center;
}

.page-infinite-wrapper {
    margin-top: -1px;
    overflow: scroll;
}

.page-infinite-desc,
.page-infinite-listitem {
    text-align: left;
    border-bottom: 1px solid #eee;
    padding-left: 10px;
}

.envi-title {
    font-size: 15px;
    /*padding-bottom: 5px;*/
    width: 100%;
    /*border-bottom: 1px solid #f5f5f5;
    margin-bottom: 5px;*/
}

.envi-cell {
    position: relative;
    min-width: 48%;
    margin: 3px 2px 3px 2px;
    white-space: normal;
    float: left;
}

input[type="radio"],
input[type="checkbox"] {
    margin: 0px;
}

.or div {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #cdcdcd;
    line-height: 0.1em;
    margin: 20px 0px 20px 0px;
}

.or div span {
    background: #eef;
    padding: 0 10px;
    width: 35.7px;
    height: 21px;
    font-family: "Microsoft YaHei", "微软雅黑" !important;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: left;
    color: #444444;
}

a,
a:link,
a:hover {
    text-decoration: none;
}

a.disabled {
    color: #ccc;
}

.message {
    padding: 10px 0px;
}

.switch-link {
    font-size: 12px;
    cursor: pointer;
}

.mint-button--small {
    margin-top: 5px;
    font-size: 15px;
    padding: 4px 11px;
    height: auto;
}

.finish {
    margin-left: 5px;
}

.mint-header-title {
    font-weight: 500;
    overflow: hidden;
    font-size: 20px;
}

.mint-header .mint-button {
    font-size: 14px;
    font-weight: normal;
}

.mint-button-text {
    font-weight: normal;
}

.mint-button {
    border-radius: 0;
}

.extra-header {
    position: fixed;
    top: 40px;
    right: 0;
    left: 0;
    text-align: center;
    background-color: #497598;
    padding: 0 0 4px 0;
    z-index: 1;
}