body {
	margin: 2px;
	line-height：1.15;
}
.tight .panel {
    border-radius: 2px;
    margin-bottom: 3px;
}
.panel .panel-heading,
.panel .panel-body {
 	padding: 5px;
}
.panel.panel-default {
    border-color: #f4f4f4;
}
.panel.panel-default > .panel-heading {
    border-color: #fff;
}
.tight .well {
	background-color: #fff;
    border-radius: 2px;
    padding: 3px;
    margin-bottom: 5px;
}
.navbar {
    margin-bottom: 3px;
    min-height:30px;
}
.navbar-nav > li > a {
    padding-bottom: 10px;
    padding-top: 10px;
}
.navbar-brand {
    float: left;
    font-size: 18px;
    height: 40px;
    line-height: 20px;
    padding: 8px;
}
.navbar-header .navbar-brand {
    font-size: 24px;
    font-weight: 500;
}
.container-full {
    padding: 2px;
    width: 100%;
}
.navbar .container-full {
	padding-right: 15px;
}
.title {
    font-size: 15px;
    font-weight: 500;
    color: #555;
    padding-right: 15px;
}
.clickable{
  cursor: pointer;   
}

.panel-heading span {
  margin-top: -20px;
  font-size: 15px;
}

.footer {
    border-top: 1px solid #e3e3e3;
}
.sym-grp {
    margin: 8px;
}
.sym-grp a:focus,
.sym-grp a:hover {
    text-decoration: line-through;
    opacity: 0.3;
}
.cc, .hpi {
    margin: 3px;
}
.cc {
    font-size: 120%;
}
#clear-all {
  margin-left: 10px;
}
#sym-details {
  padding: 5px 15px;
}
.sym-w-details {
  padding-bottom: 3px;
}
.symptom-cell {
  margin: 1px 0;
}
#sym-others {
  margin-top: 3px;
}
#notes label {
    margin-left: 3px;
}
.ctrl-buttons {
  margin-top: 3px;
}
.footer {
  background-color: #f5f5f5;
  padding: 5px 0;
  height: 60px;
  position: fixed;
  width: 100%;
  bottom: 0;
}

/* typeahead */
span.twitter-typeahead .tt-menu,
span.twitter-typeahead .tt-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
span.twitter-typeahead .tt-suggestion {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
}
span.twitter-typeahead .tt-suggestion.tt-cursor,
span.twitter-typeahead .tt-suggestion:hover,
span.twitter-typeahead .tt-suggestion:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #337ab7;
}
.input-group.input-group-lg span.twitter-typeahead .form-control {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
.input-group.input-group-sm span.twitter-typeahead .form-control {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
span.twitter-typeahead {
  width: 100%;
}
.input-group span.twitter-typeahead {
  display: block !important;
  height: 34px;
}
.input-group span.twitter-typeahead .tt-menu,
.input-group span.twitter-typeahead .tt-dropdown-menu {
  top: 32px !important;
}
.input-group span.twitter-typeahead:not(:first-child):not(:last-child) .form-control {
  border-radius: 0;
}
.input-group span.twitter-typeahead:first-child .form-control {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.input-group span.twitter-typeahead:last-child .form-control {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.input-group.input-group-sm span.twitter-typeahead {
  height: 30px;
}
.input-group.input-group-sm span.twitter-typeahead .tt-menu,
.input-group.input-group-sm span.twitter-typeahead .tt-dropdown-menu {
  top: 30px !important;
}
.input-group.input-group-lg span.twitter-typeahead {
  height: 46px;
}
.input-group.input-group-lg span.twitter-typeahead .tt-menu,
.input-group.input-group-lg span.twitter-typeahead .tt-dropdown-menu {
  top: 46px !important;
}


/* home page */
.backimg_blue {
	background-image: url(/img/bg_blue.jpg);
	background-repeat: repeat_y;
	background-size: 100%;
}

.backimg_doctor {
	background-image: url(/img/medical03.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	max-height: 70%;
}
	
.panel-info {
	width: 65%;
	font-size: 1.8vw;
}

.checkbox, .radio {
	margin-top: 1px;
	margin-bottom: 2px;
}

.col-sm-12,
.col-xs-20,
.col-sm-20,
.col-md-20,
.col-lg-20 {
    position: relative;
    min-height: 1px;
    padding-right: 8px;
    padding-left: 8px;
}

.col-xs-20 {
    width: 20%;
    float: left;
}

/* for phone screen */	
@media (max-width: 480px) {
    .tight .panel {
        margin-bottom: 5px;
    }
    .panel .panel-heading,
    .panel .panel-body {
        padding: 5px;
    }
    .tight .well {
        padding: 5px;
        margin-bottom: 5px;
    }
    .navbar .container-full {
        padding-right: 5px;
    }
    .navbar-header .navbar-brand {
        font-size: 20px;
    }
}
@media (max-width: 800px) {
	.panel-heading {
		font-size: 20px;
	}

	.panel-info {
		width: 65%;
		font-size: 16px;
	}
}

@media (min-width: 768px) {
	.col-sm-20 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-20 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-20 {
        width: 20%;
        float: left;
    }
}

.lead {
    margin: 100px auto 50px auto;
    text-align: center;
}
#next_patient_btn{
	font-size: 40px;
}

.lead .languages {
	margin-top: 50px;
}

#body-parts-symptoms-nav .breadcrumb {
	padding: 0px;
	margin-bottom: 0px;
}
#body-parts .body-parts-item {
	margin: 0px 3px 0px 0px;
}

.disabled.checkbox {
	color: #ccc;
}

#symptom-info div {
    display: inline;
    margin-right: 5px;
}


