<template >
    <div class="message">
        <div class="diag-chat-item diag-chat-left">
            <div class="diag-chat-media">
                <img src="/img/computer.png" />
            </div>
            <div class="diag-chat-content">
                <div class="diag-chat-arrow"></div>
                <div class="diag-title">{{ message.title }}</div>
                <template v-for="(term, index) in list">
                    <div class="diag-cell">
                        <label>
                            <input class="diag-radio" type="radio" :disabled="!shown" :value="term.symid+'^'" @click="selectSymptom" :checked="checked(term)" :symid="term.symid" :cc-symid="term.cc_symid" :display_name="term.display_name" :id="'additional-' + term.symid + '-'" :term-type="term.term_type"> 
                            <span class='diag-cell-content'>{{ helper.diagGetTermName(term) }}</span>
                        </label>
                    </div>
                </template>
    <!--             <div class="text-center" style="margin-top: 5px;">
                    <mt-button id="additional-symptoms-input-submit" v-on:click="finish" size="small" v-show="shown">{{ helper.diagTrans('Confirm') }}</mt-button>
                </div> -->
                <div class="clearfix"></div>
            </div>
            <div class="edit-link" v-show="!editable" @click="toggleEdit">
                {{ editLinkText }}
            </div>
        </div>
        <div class="diag-chat-item diag-chat-right" v-show="message.answer!=''">
            <div class="diag-chat-media">
                <img :src="'/img/'+ GenderLabel+'.png'" />
            </div>
            <div class="diag-chat-answer">
                <div class="diag-chat-arrow"></div>
                <div>{{ message.answer || helper.diagTrans('None') }}</div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex';
export default {
    props: ['message', 'editable', 'index', 'searchTerms', 'showFinishButton', 'showFinishButtonIndex', 'gender'],
    data: function() {
        return {
            loading: false,
            list: [],
            listIndex: 0,
            loadSize: 18,
            canModify: false,
            helper: Vue,
            oldCheckedTerm: {},
            shortItems: [],
            shortSize: 2,
            editLinkText: Vue.diagTrans('Edit')
        }
    },
    computed: {
        shown: function() {
            return this.editable || this.canModify;
        },
        showFinish: function() {
            return this.shown; // always show
            if (this.index) {
                return this.index > this.showFinishButtonIndex && this.shown;
            }
            return this.showFinishButton;
        },
        ...mapGetters([
            'GenderLabel'
        ])
    },
    watch: {
        'message': function(new_message) {
            var self = this;
            var count = self.loadSize;
            self.list = [];
            if (new_message.terms.length < self.loadSize)
                count = new_message.terms.length;
            for (var i = 0; i < count; i++) {
                self.list.push(new_message.terms[i]);
            }
            self.listIndex = count;
        },
        'canModify': function(canModify_flag) {
            this.editLinkText = (canModify_flag ? this.helper.diagTrans('Cancel') : this.helper.diagTrans('Edit'));
        }
    },
    methods: {
        toggleEdit: function(e) {
            this.canModify = !this.canModify;
            if (this.canModify) {
                this.$emit('edit-chat-log', 1);
            }
        },
        finish: function(e) {
            if (this.canModify)
                this.$emit('submit-answer', this.index, this.helper.diagTrans('FinishDx'), { noAdditionalSymptom: true })
            else
                this.$emit('submit-answer', this.helper.diagTrans('FinishDx'), { noAdditionalSymptom: true })
            this.canModify = false;
        },
        checked: function(term) {
            var term_id = this.helper.diagGetTermPair(term.symid, '');
            if (term.term_type == '5') {
                term_id = this.helper.diagGetTermPair(term.cc_symid, term.symid);
            }
            if (this.message.scopeSearchTerms && this.message.scopeSearchTerms.indexOf(term_id) != -1) {
                this.oldCheckedTerm = term;
                return true;
            }
            return false;
        },
        selectSymptom: function(e) {
            var self = this;
            var el = e.currentTarget;
            //console.log(el);
            var cc_symid = $(el).attr('cc-symid');
            var symid = $(el).attr('symid');
            var display_name = $(el).attr('display_name');
            var term_type = $(el).attr('term-type');
            //console.log(symid + ',' + display_name);
            //console.log(self.checkedTerms);
            if (self.canModify) {
                var symptoms = [];
                symptoms.push({ checked: false, ccid: self.oldCheckedTerm.symid, hpid: '', term_type: self.oldCheckedTerm.term_type, display_name: this.oldCheckedTerm.display_name })
                if (term_type == '5') {
                    symptoms.push({ checked: true, ccid: cc_symid, hpid: symid, term_type: term_type, display_name: display_name })
                } else {
                    symptoms.push({ checked: true, ccid: symid, hpid: '', term_type: term_type, display_name: display_name })
                }
                self.$emit('submit-answer', self.index, display_name, { terms: symptoms, noAdditionalSymptom: false });
            }
            else{
                console.log('===========')
                console.log('term_type')
                var symptoms = [];
                if (term_type == '5') {
                    console.log('55555')
                    symptoms.push({ checked: true, ccid: cc_symid, hpid: symid, term_type: term_type, display_name: display_name });
                } else {
                    symptoms.push({ checked: el.checked, ccid: symid, hpid: '', term_type: term_type, display_name: display_name });
                }
                self.$emit('submit-answer', display_name, { terms: symptoms, noAdditionalSymptom: false });

            }

            self.canModify = false;
        },
    },
    created() {
        var self = this;
        var count = self.loadSize;
        self.list = [];
        if (self.message.terms.length < self.loadSize)
            count = self.message.terms.length;
        for (var i = 0; i < count; i++) {
            self.list.push(self.message.terms[i]);
        }
        self.listIndex = count;

        self.shortItems = [];
        for (var i = 0; i < self.message.terms.length; i++) {
            self.shortItems.push(self.message.terms[i]);
            if (self.shortItems.length > self.shortSize)
                break;
        }

        if (!this.index) {
            this.$emit('play', this.message.title);
        }
    }
}
</script>

<style lang="css">
.term {
    margin-right: 10px;
    display: inline-block;
}

.message>p {
    margin-bottom: .5rem;
}
</style>
