<template>
  <div id="pt-chat" :class="[theme]">
    <keep-alive>
      <router-view></router-view>
    </keep-alive>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex';
  export default {
    name: 'pt-chat',
    computed: {
      ...mapGetters([
        'isLogged'
      ]),
      theme: function() {
        return this.$store.state.patientChatTheme;
      }
    },
    mounted() {
      console.log('pat-chat')
    }
  }
</script>
