<template>
    <div>
        <mt-header id="mt-header" :title="helper.diagTrans('SiteName')" fixed v-cloak>
            <div class="" slot="left">
                <mt-button class="glyphicon glyphicon-user"></mt-button>
            </div>
            <div slot="right" style="padding-right: 10px;">
                <span class="glyphicon glyphicon-repeat" @click="restart" style="margin-right:7px; font-size: 16px;"></span>
                <span v-show="baiduToken" :id="'btnPlayAudio'" :class="['glyphicon', canPlayAudio ? ' glyphicon-volume-up': ' glyphicon-volume-off' ]" style="font-size: 20px;" @click="toggleVolume"></span>
            </div>
        </mt-header>
        <div id="main-data">
            <div class="diag-chat">
                <chat-log :messages="messages" ref="chat_log" :search-terms="searchTerms" v-on:submit-answer="addMessageLog" v-on:switch="switchTo" v-on:scroll-bottom="scrollToBottom" v-on:play="playAudio" v-on:update="updateMessageLog" v-on:edit-chat-log="editChatLog" :is-finish="isFinish"></chat-log>
                <component :is="currentComponent" :message="currentMessage" :show="currentComponent" :click-edit-log-msg="clickEditLogMsg" v-on:submit-answer="addMessage" v-on:switch="switchTo" v-on:play="playAudio" v-on:update="updateMessage" v-on:scroll-bottom="scrollToBottom" v-on:edit-chat-log="editChatLog" :editable="true" :summaryText="summaryText"></component>
                <div class="loading">
                    <mt-spinner type="triple-bounce" color="rgb(100, 100, 100)" v-show="showLoading"></mt-spinner>
                </div>
            </div>
        </div>
    </div>
</template>
<style>
.fix-bottom {
    position: fixed !important;
    bottom: 4px;
    text-align: center;
    border-radius: 4px;
    padding: 0px 10px;
    font-size: 20px;
    width: calc(100% - 120px);
    font-weight: 500;
    left: 50%;
    margin-left: calc(-1 * (100% - 120px)/2);
    background-color: rgba(253, 146, 39, 1) !important;
}
.summary-text {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 20px;
}
.mint-header-button {
    flex: .2;
}
</style>
<script>
import { Indicator, MessageBox, Popup } from 'mint-ui';
import Vue from 'vue'
Vue.component('chat-log', require('./ChatLog.vue'));
Vue.component('symptom-input-message', require('./SymptomInputMessage.vue'));
Vue.component('gender-message', require('./GenderMessage.vue'));
Vue.component('age-message', require('./AgeMessage.vue'));
Vue.component('pregnancy-message', require('./PregnancyMessage.vue'));
Vue.component('additional-symptom-message', require('./AdditionalSymptomMessage.vue'));
Vue.component('text-message', require('./TextMessage.vue'));
Vue.component('recommend-dept-message', require('./RecommendDeptMessage.vue'));

import { mapGetters, mapState } from 'vuex'
var audio = new Audio();

export default {
    props: {},
    components: {
        MessageBox
    },
    data() {
        return {
            helper: Vue,
            showLoading: false,
            messages: [],
            searchTerms: [],
            currentComponent: false,
            currentMessage: false,
            possibleDiseases: [],
            startWith: 'symptom-input-message',
            isFinish: false,
            symptomsInfoJson: [],
            finishedQuestions: [],
            clickEditLogMsg: 0,
        }
    },
    computed: {
        symptoms: function() {
            var text = [];
            this.symptomsInfoJson.forEach((cc_hpi) => {
                text.push(cc_hpi.cc + ( cc_hpi.hpis && cc_hpi.hpis.length > 0 ? ': ' + cc_hpi.hpis.join(', ') : '' ))
            });
            return text.join('; ');
        },
        canDirectGo: function() {
            if ((this.visitType == '1' || this.visitType == '') && this.currentMessage && this.currentMessage.type && (this.currentMessage.type == 'symptom-input-message' || this.messages.length > 0)) {
                return true;
            }
            return false;
        },
        summaryText: function() {
            var summaryInfo = '';
            return summaryInfo;
        },
        ...mapGetters([
        ]),
        ...mapState([
            'patientId',
            'PatientNoteEntered',
            'Gender',
            'age',
            'pregnancy',
            'partner',
            'baiduToken',
            'patientVisitId',
            'osFamily',
            'loaded',
            'visitType',
            'canPlayAudio',
            'useThirdPartyPlayAudio',
            'questionNumber',
        ])
    },
    methods: {
        toggleVolume: function(e) {
            var el = e.currentTarget;
            if (this.canPlayAudio) {
                $(el).removeClass('glyphicon-volume-up').addClass('glyphicon-volume-off')
                this.$store.commit('SET_CAN_PLAY_AUDIO', false);
                this.stopAudio();
            } else {
                $(el).removeClass('glyphicon-volume-off').addClass('glyphicon-volume-up')
                this.$store.commit('SET_CAN_PLAY_AUDIO', true);
                this.playAudio(this.currentMessage.title);
            }
            this.$store.commit('APPEND_ACTION_LOG', { action_type_id: this.actionTypes.PATIENT_TOGGLE_AUDIO, action_data: { content: 'toggle audio', data: {canPlayAudio: this.canPlayAudio }}});
        },
        playAudio: function(text) {
            if (this.canPlayAudio && text) {
                if (this.useThirdPartyPlayAudio == 1 && typeof api != 'undefined') {
                    api.sendEvent({
                        name: 'beginRead',
                        extra: text
                    });
                } else {
                    text = text.replace(/"/g, '');
                    audio.pause();
                    audio.src = '/api/text2audio?text='+ encodeURIComponent(text);
                    setTimeout(() => audio.play(), 10);
                }
            }
        },
        stopAudio: function() {
            if (this.useThirdPartyPlayAudio == 1 && typeof api != 'undefined') {
                api.sendEvent({
                    name: 'stopRead'
                });
            } else {
                audio.pause();
            }
        },
        restart: function() {
            var self = this;
            MessageBox.confirm(Vue.diagTrans('Restart'), this.helper.diagTrans('Prompt'), {confirmButtonText: this.helper.diagTrans('ConfirmText'), cancelButtonText: this.helper.diagTrans('Cancel')}).then(action => {
                console.log('restart')
                self.$store.commit('SET_GENDER', '');
                self.$store.commit('SET_AGE', '');
                self.doRestart();
            }, cancel => {
                console.log('cancel');
            });
        },
        doRestart: function() {
            var self = this;
            self.messages = [];
            self.isFinish = false;
            self.currentMessage = false;
            self.currentComponent = false;
            self.startWith = 'symptom-input-message';
            console.log('do restart')
            self.askGender();
            self.playAudio(self.currentMessage.title);
        },
        switchTo: function(message_type) {
            console.log('=====')
            console.log(message_type);
            if (message_type) {
                this.searchTerms = [];
                this.selectedBodyPart = '';
                var switchIndex = -1;
                for (var i = 0; i < this.messages.length; i++) {
                    if (this.messages[i].type == 'symptom-input-message') {
                        switchIndex = i;
                    }
                }
                if (switchIndex > -1) {
                    this.currentMessage = this.messages[switchIndex];
                    this.currentComponent = this.messages[switchIndex].type;
                    this.messages.splice(switchIndex);
                } else {
                    if (message_type == 'symptom-input-message')
                        this.fromSymptomInput();
                }
            }
        },
        editChatLog: function(value) {
            this.clickEditLogMsg = value;
        },
        fromSymptomInput: function() {
            console.log('fromSymptomInput')
            this.currentComponent = 'symptom-input-message';
            this.currentMessage = {
                type: this.currentComponent,
                title: Vue.diagTrans('PleaseEnterSymptom'),
                placeholder: Vue.diagTrans('EnterSymptomPlaceholder'),
                answer: '',
                matchTerms: []
            }
            this.startWith = this.currentComponent;
        },
        dx: function(step) {
            var self = this;
            self.stopAudio();
            var data = {};
            data._token = window.Laravel.csrfToken;
            data.locale = window.Laravel.locale;
            data.qt = self.searchTerms;
            data.Gender = this.Gender;
            data.age = this.age;
            self.showLoading = true;
            self.cancelEdit();

            $.post('/patient/question', data, function(dataJson) {
                self.showLoading = false;
                if (dataJson.possible_diseases)
                    self.possibleDiseases = dataJson.possible_diseases;
                if (dataJson.symptoms)
                    self.symptoms = dataJson.symptoms;
                if (dataJson.symptoms_info_json) {
                    self.symptomsInfoJson = dataJson.symptoms_info_json;
                }
                if (dataJson.terms) {
                    if (dataJson.terms.length > 0) {
                        self.currentComponent = 'additional-symptom-message';
                        self.currentMessage = {
                            type: self.currentComponent,
                            title: '请问还有什么别的症状?',
                            terms: dataJson.terms,
                            answer: '',
                            scopeSearchTerms: [],
                            noAdditionalSymptom: false
                        }
                    }
                } else {
                    self.finish();
                }
            }, 'json');
        },

        finish: function() {
            var self = this;
            var data = {};
            data._token = window.Laravel.csrfToken;
            data.locale = window.Laravel.locale;
            data.qt = self.searchTerms;
            data.Gender = self.Gender;
            data.age = self.age;
            self.showLoading = true;
            $.post('/patient/recommend-department', data, function(dataJson) {
                self.showLoading = false;
                self.currentComponent = 'recommend-dept-message';
                self.currentMessage = {
                    type: self.currentComponent,
                    text: dataJson
                };
                self.playAudio(data);
                $('.edit-link').remove();
            }, 'json')
        },

        existMessageType: function(message_type, callback) {
            var contains = false;
            for (var i = 0; i < this.messages.length; i++) {
                if (this.messages[i].type == message_type) {
                    contains = true;
                    break;
                }
            }
            callback(contains)
        },

        askGender: function() {
            var self = this;
            var answer = '';
            if (this.Gender == 1) {
                answer =  Vue.diagTrans('Male');
            } else if (this.Gender == 2) {
                answer = Vue.diagTrans('Female');
            }
            var currentComponent = 'gender-message';
            var currentMessage = {
                type: currentComponent,
                title: Vue.diagTrans('PleaseSelectGender'),
                terms: [{ value: 1, label: Vue.diagTrans('Male') }, { value: 2, label: Vue.diagTrans('Female') }],
                answer: answer,
                gender: this.Gender
            };
            console.log('gender=' + this.Gender)
            if (this.Gender == '' || this.Gender == '0') {
                self.currentComponent = currentComponent;
                self.currentMessage = currentMessage;
            } else {
                self.currentComponent = false;
                self.askAge();
            }
        },

        askAge: function() {
            var self = this;
            var currentComponent = 'age-message';
            var currentMessage = {
                type: currentComponent,
                title: '请选择年龄段',
                terms: [{ value: 1, label: '0~6岁' }, { value: 2, label: '7~15岁' }, { value: 3, label: '16~35岁' }, { value: 4, label: '36~60岁' }, { value: 5, label: '大于60岁' }],
                answer: this.age,
                age: this.age
            }
            console.log('age: '+this.age);
            if (this.age == '' || this.age == null) {
                console.log('fff')
                self.currentComponent = currentComponent;
                self.currentMessage = currentMessage;
            } else if (this.Gender == '2' && (this.age == 3 || this.age == 4)) {
                self.askPregnancy();
            }else {
                console.log('eee')
                self.currentComponent = false;
                self.switchTo(self.startWith);
            }
        },

        askPregnancy: function() {
            var self = this;
            var answer = '';
            if (this.pregnancy == 1) {
                answer = '是';
            } else if (this.pregnancy == 2) {
                answer = '否';
            }
            var currentComponent = 'pregnancy-message';
            var currentMessage = {
                type: currentComponent,
                title: '请问是孕妇吗',
                terms: [{ value: 1, label: '是' }, { value: 2, label: '否' }],
                answer: answer,
            }
            console.log('pregnancy: '+this.pregnancy);
            if (this.pregnancy == '' || this.pregnancy == null) {
                self.currentComponent = currentComponent;
                self.currentMessage = currentMessage;
            } else {
                console.log('9999')
                self.currentComponent = false;
                self.switchTo(self.startWith);
            }
        },

        nextQuestion: function(step) {
            var self = this;
            var message_type = self.currentMessage.type;
            if (message_type) {
                if (message_type == 'gender-message' || message_type == 'age-message' || message_type == 'pregnancy-message') {
                    self.askGender();
                } else if (message_type == 'symptom-input-message') {
                    if (self.currentMessage.matchTerms && self.currentMessage.matchTerms.length > 0 && self.currentMessage.matchTerms.length == self.currentMessage.validTerms.length) 
                        self.dx(step);
                    else if (self.currentMessage.validTerms && self.currentMessage.validTerms.length > 0) { //临时加的
                        self.currentComponent = 'additional-symptom-message';
                        self.currentMessage = {
                            type: self.currentComponent,
                            title: '请问还有什么别的症状?',
                            terms: self.currentMessage.validTerms,
                            answer: '',
                            scopeSearchTerms: [],
                            noAdditionalSymptom: false
                        }
                    }
                } else if (message_type == 'additional-symptom-message') {
                    self.finish();
                }
            }
        },
        updateMessage: function(extra) {
            var self = this;
            self.doSerchTermActions(extra);
            if (extra.skipHpiValue !== undefined)
                self.currentMessage.skipHpiValue = extra.skipHpiValue;
            //console.log('update message' + JSON.stringify(self.currentMessage))

            self.nextQuestion('keep');
        },
        addMessage: function(answer, extra) { //terms, selectedBodyPart, defaultSelectableTerms
            console.log('add message ==')
            console.log(extra)
            var self = this;
            self.currentMessage.answer = answer;
            //console.log(extra);
            if (extra) {
                if (extra.hasOwnProperty('restart')) {
                    console.log(extra);
                    //self.clearSymptomMessages();
                    self.askGender();
                    self.playAudio(self.currentMessage.title);
                    return;
                }
                if (extra.noAdditionalSymptom != undefined) {
                    self.currentMessage.noAdditionalSymptom = extra.noAdditionalSymptom
                }
                if (extra.terms) {
                    if (self.searchTerms) {
                        extra.terms.forEach(function(st) {
                            self.doSerchTermActions(st);
                        });
                    }
                }
                if (extra.matchTerms) {
                    self.currentMessage.matchTerms = extra.matchTerms;
                    self.currentMessage.validTerms = extra.validTerms;
                    if (self.currentComponent == 'symptom-input-message')
                        self.currentMessage.terms = extra.validTerms;
                    if (self.currentMessage.matchTerms && self.currentMessage.matchTerms.length >0 && self.currentMessage.matchTerms.length == self.currentMessage.validTerms.length) 
                        self.currentMessage.scopeInit = 1;
                }

                if (extra.Gender) {
                    self.currentMessage.Gender = extra.Gender;
                }
            }

            self.currentMessage.scopeSearchTerms = self.searchTerms.slice(0);

            //console.log('add message' + JSON.stringify(this.currentMessage))
            self.messages.push(self.currentMessage);
            self.currentComponent = false;

            self.nextQuestion('');
        },
        updateMessageLog: function(index, extra) {
            var self = this;
            self.currentMessage = self.messages[index];
            self.currentComponent = self.currentMessage.type;

            if (self.currentMessage.scopeSearchTerms && self.currentMessage.scopeSearchTerms.length > 0)
                self.searchTerms = self.currentMessage.scopeSearchTerms.slice(0);
            if (extra && extra.defaultSelectableTerms && extra.defaultSelectableTerms.length > 0 && self.currentMessage.defaultSelectableTerms)
                self.currentMessage.defaultSelectableTerms = extra.defaultSelectableTerms;

            //console.log('update message log' + JSON.stringify(this.currentMessage))

            var ct = self.messages.length;
            self.messages.splice(index, ct - index + 1);
            self.updateMessage(extra);
        },
        addMessageLog: function(index, answer, extra) {//terms, selectedBodyPart, defaultSelectableTerms
            console.log('add message log==')
            var self = this;
            self.currentMessage = self.messages[index];
            self.currentComponent = self.currentMessage.type;

            if (self.currentMessage.scopeInit == 1)
                self.searchTerms = [];
            else if (self.currentMessage.scopeSearchTerms && self.currentMessage.scopeSearchTerms.length > 0)
                self.searchTerms = self.currentMessage.scopeSearchTerms.slice(0);

            console.log('add message log' + JSON.stringify(this.currentMessage))
            var ct = self.messages.length;
            self.messages.splice(index, ct - index + 1);

            self.addMessage(answer, extra);
        },

        getRecommendDepartment: function() {
            var self = this;
            self.cancelEdit();
            self.isFinish = true;
            var diseases = self.possibleDiseases;

            $.post('/patient/recommend-department', {locale: Laravel.locale, _token: Laravel.csrfToken, diseases: self.possibleDiseases }, function(data) {
                self.showLoading = false;
                self.currentComponent = 'recommend-dept-message';
                self.currentMessage = {
                    type: self.currentComponent,
                    text: data
                };
                self.playAudio(data);
                $('.edit-link').remove();
            })
        },
        finishMessageLog: function(index) {
            this.cancelEdit();
            var self = this;
            var ct = self.messages.length;
            self.messages.splice(index + 1, ct - index + 1);

            //this.finishMessage();
        },
        cancelEdit: function() {
            if (this.$refs.chat_log && this.$refs.chat_log.$refs && this.$refs.chat_log.$refs.chat_log_item) {
                for (var i = 0; i < this.$refs.chat_log.$refs.chat_log_item.length; i++) {
                    this.$refs.chat_log.$refs.chat_log_item[i].canModify = false;
                }
            }
        },
        scrollToBottom: function(y) {
            var mainBox = document.getElementById("main-data");
            if (mainBox) {
                var scrollHeight = mainBox.scrollHeight;
                if (y)
                    scrollHeight = y;
                $(mainBox).stop(true);
                $(mainBox).animate({ scrollTop: scrollHeight }, 1000);  
            }
        },

        doSerchTermActions: function(cc_hpi) {
            var self = this;
            if (cc_hpi.checked) {
                self.diagAddMoreSearchTerm(cc_hpi.ccid, cc_hpi.hpid, cc_hpi.term_type, cc_hpi.display_name, cc_hpi.cc_display_name);
            } else {
                self.diagRemoveSearchTerm(cc_hpi.ccid, cc_hpi.hpid, cc_hpi.display_name, cc_hpi.cc_display_name);
            }
            //console.log(JSON.stringify(self.actionLogs));
        },

        diagAddMoreSearchTerm: function(ccid, hpid, term_type, display_name, cc_display_name) {
            if (hpid != undefined && hpid != '' && ccid != hpid && hpid != '0') {
                var parent = Vue.diagGetTermPair(ccid, '')
                if (this.searchTerms.indexOf(parent) < 0) {
                    this.searchTerms.push(Vue.diagGetTermPair(ccid, ''));
                }
            }
            var term = Vue.diagGetTermPair(ccid, hpid);
            if (this.searchTerms.indexOf(term) < 0) {
                this.searchTerms.push(term);
            }
        },

        diagRemoveSearchTerm: function(ccid, hpid, display_name, cc_display_name) {
            var term = Vue.diagGetTermPair(ccid, hpid);
            var idx = this.searchTerms.indexOf(term);
            if (idx > -1) {
                this.searchTerms.splice(idx, 1);
            }
            if (hpid != undefined && hpid != '' && ccid != hpid && hpid != '0') {
                this.$store.commit('APPEND_ACTION_LOG', { action_type_id: this.actionTypes.REMOVE_HPI, action_data: { ccid: ccid, hpid: hpid, display_name: display_name, cc_display_name: cc_display_name } });
            } else {
                this.$store.commit('APPEND_ACTION_LOG', { action_type_id: this.actionTypes.REMOVE_CC, action_data: { ccid: ccid, hpid: hpid, display_name: display_name, cc_display_name: cc_display_name } });
            }
        },

        toggleVolumeClass: function() {
            if ($("#btnPlayAudio").hasClass('glyphicon-volume-up')) {
                $('#btnPlayAudio').removeClass('glyphicon-volume-up').addClass('glyphicon-volume-off')
            } else {
                $('#btnPlayAudio').removeClass('glyphicon-volume-off').addClass('glyphicon-volume-up')
            }
        },
        initData: function() {
            this.askGender();

            $("#btnPlayAudio").fadeTo(300, 0.2).fadeTo(300, 1);
            $("#btnPlayAudio").fadeTo(300, 0.2).fadeTo(300, 1);
            $("#btnPlayAudio").fadeTo(300, 0.2).fadeTo(300, 1);
        }
    },
    created() {
        this.initData()
    },
    activated() {
        // this.initData()
        this.scrollToBottom();
    },
    mounted() {
        // console.log(this.$store.state.patientId)
        this.initData();
        // this.askDrinking();
    },
    watch: {
        loaded: function() {
            this.initData()
        },
        currentMessage() {
            this.$nextTick(() => {
                this.scrollToBottom();
            })
        },
        /*showLoading() {
            this.$nextTick(() => {
                this.scrollToBottom();
            })
        }*/
    }
}
</script>
