<template>
    <div class="message">
        <div class="diag-chat-item diag-chat-left">
            <div class="diag-chat-media">
                <img src="/img/computer.png" />
            </div>
            <div class="diag-chat-content">
                <div class="diag-chat-arrow"></div>
                <div class="diag-title">{{ message.title }}</div>
                <div class="diag-row">
                    <div class="diag-cell text-left" v-for="(term, label) in message.terms">
                        <label>
                            <input type="radio" class="diag-radio" name="pregnancy" :label="term.label" :value="term.value" :disabled="!shown" v-model="message.pregnancy" v-on:click="savePregnancy"> {{ term.label}}
                        </label>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="edit-link" v-show="!editable" @click="canModify=!canModify">
                {{ editLinkText }}
            </div>
        </div>
        <div class="diag-chat-item diag-chat-right" v-show="message.answer!=''">
            <div class="diag-chat-media">
                <img :src="'/img/'+ GenderLabel+'.png'" />
            </div>
            <div class="diag-chat-answer">
                <div class="diag-chat-arrow"></div>
                <div>{{ message.answer || helper.diagTrans('None') }}</div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</template>
<script>
import { mapGetters } from 'vuex';
export default {
    props: ['message', 'editable', 'index'],
    data: function() {
        return {
            canModify: false,
            helper: Vue,
            editLinkText: Vue.diagTrans('Edit'),
        }
    },
    watch: {
        'canModify': function(canModify_flag) {
            this.editLinkText = (canModify_flag ? this.helper.diagTrans('Cancel') : this.helper.diagTrans('Edit'));
        }
    },
    computed: {
        shown: function() {
            return this.editable || this.canModify;
        },
        ...mapGetters([
            'GenderLabel'
        ])
    },
    methods: {
        savePregnancy: function(e) {
            var self = this;
            var el = e.currentTarget;
            var answer = $(el).closest('.message').find('input[name=pregnancy]:checked').attr('label');
            var pregnancy = $(el).closest('.message').find('input[name=pregnancy]:checked').val();

            self.$store.commit('SET_PREGNANCY', pregnancy);
            if (self.canModify) {
                console.log('save pregnancy')
                self.$emit('submit-answer', self.index, answer, { pregnancy: pregnancy });
            }
            else {
                console.log('save genderf')
                self.$emit('submit-answer', answer, { pregnancy: pregnancy });
            }
            self.canModify = false;
        }
    },
    created() {
        if (this.index == undefined) {
            this.$emit('play', this.message.title);
        }
    }
}
</script>