<template>
	<div class="message">
		<div class="diag-chat-item diag-chat-left">
			<div class="diag-chat-media">
				<img src="/img/computer.png" />
			</div>
			<div class="diag-chat-content">
				<div class="diag-chat-arrow"></div>
				<div class="">
					为您推荐科室: {{ message.text }}
				</div>
			</div>
		</div>
	</div>
</template>
<script>
export default {
	props: ['message']
}
</script>
