<template lang="html">
<div class="message">
    <div class="diag-chat-item diag-chat-left">
        <div class="diag-chat-media">
            <img src="/img/computer.png" />
        </div>
        <div class="diag-chat-content">
            <div class="diag-chat-arrow"></div>
            <div class="diag-title">{{ message.title }}</div>
            <div :disabled="!shown">
                 <textarea :disabled="!shown" :placeholder="message.placeholder" id='symptom-input-textarea' class='symptom-input-textarea' v-model="inputText"></textarea>
            </div>
            <div class="text-center" style="margin-top: 5px;">
                <mt-button id="symptoms-input-submit" :type="inputText==''?'default':'primary'" v-on:click="submitFreeNote" size="small" v-show="shown" :disabled="inputText==''">{{ helper.diagTrans('Confirm') }}</mt-button>
            </div>
        </div>
        <div class="edit-link" v-show="!editable" @click="toggleEdit" >
            {{ editLinkText }}
        </div>
    </div>
    <div class="diag-chat-item diag-chat-right" v-show="message.answer!=''">
        <div class="diag-chat-media">
            <img :src="'/img/'+ GenderLabel +'.png'" />
        </div>
        <div class="diag-chat-answer">
            <div class="diag-chat-arrow"></div>
            <div>{{ message.answer }}</div> 
        </div>
    </div>
    <div style="display:none">
    </div>
    <div class="clearfix"></div>
</div>
</template>

<script>
import { Toast } from 'mint-ui';
import { mapGetters, mapState } from 'vuex';
export default {
    props: ['message', 'editable', 'index'],
    data: function() {
        return {
            inputText: '',
            canModify: false,
            helper: Vue,
            editLinkText: Vue.diagTrans('Edit'),
        }
    },
    watch: {
        'canModify': function(canModify_flag) {
            this.editLinkText = (canModify_flag ? this.helper.diagTrans('Cancel') : this.helper.diagTrans('Edit'));
        }
    },
    computed: {
        ...mapGetters([
            'GenderLabel',
        ]),
        ...mapState([
            'Gender',
            'age',
        ]),
        shown: function() {
            return this.editable || this.canModify;
        }
    },
    methods: {
        toggleEdit: function(e) {
            this.canModify = !this.canModify;
            var el = e.currentTarget;
            if (this.canModify) {
                this.$emit('edit-chat-log', 1);
            }
            this.$nextTick(() => {
                $(el).closest('.message').find('.symptom-input-textarea').focus();
            });
        },

        addSymptom: function(symp) {
            if (this.inputText.indexOf(symp) == -1) {
                if (this.inputText.length == '')
                    this.inputText = symp
                else
                    this.inputText += ', ' + symp
            }
        },
        switchTo: function(e) {
            var el = e.currentTarget;
            if ($(el).hasClass('disabled'))
                return;
            //el.innerText = this.helper.diagTrans('FromBodySymptom');
            this.$store.commit('APPEND_ACTION_LOG', { action_type_id: this.$store.state.actionTypes.PATIENT_TOGGLE_INPUT, action_data: { content: 'toggle input body location', data: { input: 'body-location-message' }} })
            this.$emit('switch', 'body-location-message');
        },
        submitFreeNote: function(e) {
            var self = this;
            var el = e.currentTarget;
            var answer = $(el).closest('.message').find('textarea').val();

            var data = {};
            data.note = answer;
            data._token = window.Laravel.csrfToken;
            data.partner = this.$store.state.partner;
            data.Gender = this.Gender;
            data.age = this.age;

            $.post('/patient/input-note/' + Laravel.locale, data, function(dataJson) {
                if (dataJson.length == 0) {
                    Toast({
                        message: Vue.diagTrans('NoResultsRetry'),
                        position: 'center',
                        duration: 5000
                    });
                } else {
                    var matchTerms = [];
                    var newTerms = [];
                    dataJson.forEach((term) => {
                        if (term.score == 1) {
                            matchTerms.push({ ccid: term.cc_symid, hpid: term.symid, display_name: term.display_name, cc_display_name: term.cc_display_name, checked: true, term_type: term.term_type});
                        }
                        if (term.hasOwnProperty('negation')) {
                            if (term.negation != 'negated') {
                                newTerms.push(term);
                            }
                        } else {
                            newTerms.push(term);
                        }
                    });

                    var extraData = { validTerms: newTerms, matchTerms: matchTerms, clearSearchTerms: true };
                    if (matchTerms.length == newTerms.length) {
                        extraData['terms'] = matchTerms;
                    }

                    if (self.canModify) {
                        self.$emit('submit-answer', self.index, answer, extraData);
                    }
                    else {
                        self.$emit('submit-answer', answer, extraData);
                    }

                    self.canModify = false;
                }
            }, 'json');
        }
    },
    mounted() {
        if (this.index == undefined)
            $("#symptom-input-textarea").focus();
    },
    created() {
        if (this.index == undefined) {
            this.inputText = this.message.answer;
            this.$emit('play', this.message.title);
        } else {
            this.inputText = this.message.answer;
        }
    }
}
</script>

<style lang="css">
.message>p {
    margin-bottom: .5rem;
}

.hot-symptom {
    margin-right: 5px;
    cursor: pointer;
}
</style>
