// Fonts
//@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
// Variables
@charset "UTF-8";

$base-font-size: 12px;
@function px2rem($px) {
  @if (unitless($px)) {
    @warn "Assuming #{$px} to be in pixels, attempting to convert it into pixels for you";
    @return px2rem($px + 0px); // That may fail.
  } @else if (unit($px) == rem) {
    @return $px;
  }
  @return ($px / $base-font-size) * 1rem;
}

html {
    font-size: 10px;
}

html,
body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    width: 100%;
}

body {
    font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif !important;
    line-height: 1.5;
    font-size: 1.3rem;
    color: #212121;
    background-color: #f5f5f5;
    outline: 0;
}

html,
body,
header,
section,
footer,
div,
ul,
ol,
li,
img,
a,
span,
em,
del,
legend,
center,
strong,
var,
fieldset,
form,
label,
dl,
dt,
dd,
cite,
input,
hr,
time,
mark,
code,
figcaption,
figure,
textarea,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    border: 0;
    padding: 0;
    font-style: normal;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

@media only screen and (min-width: 400px) {
    html {
        font-size: 14px !important;
    }
}

@media only screen and (min-width: 414px) {
    html {
        font-size: 14px !important;
    }
}

@media only screen and (min-width: 480px) {
    html {
        font-size: 16px !important;
    }
}

/*pad*/ 
@media screen and (min-width:1200px) and (max-width:1452px){
    html {
        font-size: 20px !important;
    }
}

@media screen and (min-width:1452px){
    html {
        font-size: 16px !important;
    }
}


ul,
li {
    list-style: none;
}

p {
    font-size: 0.7rem;
    color: #757575;
}

a {
    color: #0062cc;
    text-decoration: none;
    background-color: transparent;
}

textarea {
    overflow: hidden;
    resize: none;
}

button {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
input,
select,
textarea {
    font: inherit;
    color: inherit;
}

input[type="radio"],
input[type="checkbox"] {
    margin: 0px;
}

.or div {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #cdcdcd;
    line-height: 0.1em;
    margin: px2rem(20px) 0px px2rem(20px) 0px;
}

.or div span {
    background: #eef;
    padding: 0 px2rem(10px);
    width: px2rem(35.7px);
    height: 2.1rem;
    font-family: "Microsoft YaHei", "微软雅黑" !important;
    font-size: px2rem(12px);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: left;
    color: #444444;
}

a,
a:link,
a:hover {
    text-decoration: none;
}

a.disabled {
    color: #ccc;
}

.mint-header .mint-button {
    color: white;
    font-size: px2rem(20px);
}

.mint-header .mint-button.glyphicon-user {
    font-size: px2rem(18px);
}

.diag-chat {
    width: 100%;
    height: 100%;
    /*padding: 0.5rem;*/
}

.diag-chat .diag-chat-item {
    position: relative;
    width: 100%;
    margin-bottom: 0px;
    overflow: hidden;
    display: block;
}

.diag-chat .diag-chat-header {
    width: 100%;
    text-align: center;
    margin-bottom: 0.75rem;
    font-size: 0.6rem;
    color: #757575;
}

.diag-chat .diag-chat-left {
    float: left;
    padding: 0px 0px 0px px2rem(50px);
    margin-bottom: px2rem(4px);
}

.diag-chat .diag-chat-right {
    float: right;
    padding: 0px px2rem(50px) 0px 0px;
}

.diag-chat .diag-chat-media {
    width: px2rem(40px);;
}

.diag-chat .diag-chat-media img {
    width: 100%;
    border-radius: 50%;
}

.diag-chat .diag-chat-inner {
    position: relative;
    overflow: hidden;
    display: inherit;
}

.diag-chat .diag-chat-arrow {
    content: '';
    position: absolute;
    width: px2rem(16px);
    height: px2rem(16px);
    top: 0.2rem;
    -webkit-transform-origin: 50% 50% 0;
    transform-origin: 50% 50% 0;
    background-color: transparent;
}

.diag-chat .diag-chat-left .diag-chat-arrow {
    background-image: -webkit-linear-gradient(45deg, #ffffff, #ffffff 50%, transparent 50%);
    background-image: linear-gradient(45deg, #ffffff, #ffffff 50%, transparent 50%);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    left: px2rem(-3px);
}

.diag-chat .diag-chat-right .diag-chat-arrow {
    background-image: -webkit-linear-gradient(45deg, #b3e5fc, #b3e5fc 50%, transparent 50%);
    background-image: linear-gradient(45deg, #b3e5fc, #b3e5fc 50%, transparent 50%);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    right: px2rem(-3px);
}

.diag-chat .diag-chat-content {
    color: #474c57;;
    font-size: 1.4rem;
    border-radius: 0.2rem;
    position: relative;
    padding: px2rem(6px);
    word-break: break-all;
    word-wrap: break-word;
}

.diag-chat .diag-chat-content img {
    max-width: 100%;
    display: block;
}

.diag-chat .diag-chat-content .symptom-input-textarea {
    border: 1px solid #c0ccda;
    margin-top: 8px;
}

.diag-chat .diag-chat-answer {
    width: auto;
    color: #fff;;
    background-color: #499af7 !important;
    font-size: 1.4rem;
    border-radius: 0.2rem;
    position: relative;
    padding: px2rem(6px);
    word-break: break-all;
    word-wrap: break-word;
    background-color: #b3e5fc;
    margin-right: px2rem(10px);
    margin-left: px2rem(10px);
    float: right;
}

.diag-chat .diag-chat-status {
    position: relative;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
}

.diag-chat .diag-chat-name {
    width: 100%;
    position: relative;
    font-size: 0.6rem;
    color: #757575;
    margin-bottom: 0.25rem;
}

.diag-chat .diag-chat-left .diag-chat-name {
    left: 0.5rem;
}

.diag-chat .diag-chat-left .diag-chat-status {
    left: 0.5rem;
    float: left;
}

.diag-chat .diag-chat-left .diag-chat-media {
    float: left;
    margin-left: px2rem(-40px);
}

.diag-chat .diag-chat-left .diag-chat-inner {
    max-width: 70%;
}

.diag-chat .diag-chat-left .diag-chat-content {
    background-color: #fff;
    float: left;
    margin-left: px2rem(10px);
}

.diag-chat .diag-chat-right .diag-chat-media {
    float: right;
    margin-right: px2rem(-40px);
}

.diag-chat .diag-chat-right .diag-chat-inner {
    float: right;
    max-width: 70%;
}

.diag-chat .diag-chat-right .diag-chat-name {
    float: right;
    margin-right: px2rem(10px);
    text-align: right;
}

.diag-chat .diag-chat-right .diag-chat-content {
    background-color: #b3e5fc;
    margin-right: px2rem(10px);
    margin-left: px2rem(10px);
    float: right;
}

.diag-chat .diag-chat-right .diag-chat-status {
    float: right;
    right: 0.5rem;
}

.diag-chat .diag-chat-left .diag-chat-content,
.diag-chat .diag-chat-right .diag-chat-content {
    width: calc(100% - 5.833rem)/*69%*/
    ;
}

.diag-chat .diag-chat-left .diag-chat-content:lang(zh_hk),
.diag-chat .diag-chat-right .diag-chat-content:lang(zh_hk) {
    width: calc(100% - 7.5rem);
}

.diag-chat .diag-chat-right .diag-chat-content:lang(zh_hk) {
    /*max-width: 70%;*/
    margin-right: px2rem(30px);
}

.diag-padded-5 {
    padding: 0.25rem !important;
}

.diag-row {
    overflow: hidden;
    margin: 0;
}

.diag-row-padded {
    margin-left: -0.125rem;
    margin-right: -0.125rem;
}

.diag-row-padded [class*=diag-col-xs-] {
    padding: 0.125rem;
}

.diag-col-xs-1,
.diag-col-xs-2,
.diag-col-xs-3,
.diag-col-xs-4,
.diag-col-xs-5,
.diag-col-xs-6,
.diag-col-xs-7,
.diag-col-xs-8,
.diag-col-xs-9,
.diag-col-xs-10,
.diag-col-xs-11,
.diag-col-5 {
    position: relative;
    float: left;
}

.diag-col-xs-12 {
    width: 100%;
    position: relative;
}

.diag-col-xs-11 {
    width: 91.66666667%;
}

.diag-col-xs-10 {
    width: 83.33333333%;
}

.diag-col-xs-9 {
    width: 75%;
}

.diag-col-xs-8 {
    width: 66.66666667%;
}

.diag-col-xs-7 {
    width: 58.33333333%;
}

.diag-col-xs-6 {
    width: 50%;
}

.diag-col-xs-5 {
    width: 41.66666667%;
}

.diag-col-xs-4 {
    width: 33.33333333%;
}

.diag-col-xs-3 {
    width: 25%;
}

.diag-col-xs-2 {
    width: 16.66666667%;
}

.diag-col-xs-1 {
    width: 8.33333333%;
}

.diag-col-5 {
    width: 20%;
}

.diag-radio,
.diag-checkbox {
    width: 1.6rem;
    height: 1.6rem;
    background-color: #ffffff;
    border: 1px solid #c0ccda;
    -webkit-border-radius: 0.6rem;
    border-radius: 1.2rem;
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
    position: relative;
    display: inline-block;
    vertical-align: top;
    cursor: default;
    -webkit-appearance: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-transition: background-color ease 0.1s;
    transition: background-color ease 0.1s;
    // margin-top:0.2rem!important;
    margin-right: px2rem(5px)!important;
}

.diag-checkbox {
    border-radius: 0.1rem;
}

.diag-radio:checked,
.diag-radio.diag-checked,
.diag-checkbox:checked,
.diag-checkbox.diag-checked {
    background-color: #03a9f4;
    border: solid 1px #03a9f4;
    text-align: center;
    background-clip: padding-box;
}

.diag-radio:checked:before,
.diag-radio.diag-checked:before,
.diag-checkbox:checked:before,
.diag-checkbox.diag-checked:before,
.diag-radio:checked:after,
.diag-radio.diag-checked:after,
.diag-checkbox:checked:after,
.diag-checkbox.diag-checked:after {
    content: '';
    width: 1rem;
    height: 0.6rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -0.5rem;
    margin-top: -0.5rem;
    background: transparent;
    border: 1px solid #ffffff;
    border-top: none;
    border-right: none;
    z-index: 2;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.diag-radio:disabled,
.diag-radio.diag-disabled,
.diag-checkbox:disabled,
.diag-checkbox.diag-disabled {
    background-color: #dddddd;
    border: solid 1px #dddddd;
}

#main-data {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: px2rem(40px);
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    animation-fill-mode: backwards;
}

.loading {
    text-align: center;
}

textarea {
    width: 100%;
    /*background-color: #eff2f7;
    border-color: #d3dce6;*/
    margin: px2rem(1px) 0 0px;
    padding: px2rem(5px);
    line-height: 1.5;
    width: 100%;
}

.diag-cell label {
    font-weight: normal;
    /* font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    font-size: px2rem(12px);
    display: block;
    overflow: hidden;
    line-height: 1rem;
    padding-bottom: 1px; */
    vertical-align: middle;
    display: flex;
    align-items: flex-end;
    .diag-cell-content {
        line-height: 1;
    }
}

.edit-link {
    color: #26a2ff;
    display: inline-block;
    float: left;
    background-color: #fff;
    text-align: center;
    padding: px2rem(2px) px2rem(8px);
    font-size: px2rem(12px);
    cursor: pointer;
    margin-left: 0.7rem;
}

.mint-popup {
    width: 100%;
    height: px2rem(300px);
}

.text-center {
    text-align: center;
}

.page-infinite-wrapper {
    margin-top: -1px;
    overflow: scroll;
}

.page-infinite-desc,
.page-infinite-listitem {
    text-align: left;
    border-bottom: 1px solid #eee;
    padding-left: px2rem(10px);
}

.diag-title {
    font-size: 1.5rem;
    color: #474c57;
    /*padding-bottom: 5px;*/
    width: 100%;
    /*border-bottom: 1px solid #f5f5f5;
    margin-bottom: 5px;*/
}

.diag-cell {
    position: relative;
    min-width: 48%;
    margin: px2rem(3px) px2rem(2px) px2rem(3px) px2rem(2px);
    white-space: normal;
    float: left;
    align-items: flex-end;
    display: flex;
}

.message {
    padding: px2rem(5px) 0px 0px 0px;
}

.switch-link {
    font-size: px2rem(12px);
    cursor: pointer;
}

.mint-button--small {
    margin-top: px2rem(5px);
    font-size: px2rem(15px);
    padding: px2rem(4px) px2rem(11px);
    height: auto;
}

.finish {
    margin-left: px2rem(5px);
}

.mint-header-title {
    font-weight: 500;
    overflow: hidden;
    font-size: px2rem(20px);
}

.mint-header .mint-button {
    font-size: px2rem(14px);
    font-weight: normal;
}

.mint-button-text {
    font-weight: normal;
}

.mint-button {
    border-radius: 0;
}

.mint-msgbox {
    max-width: px2rem(600px);
}

.extra-header {
    position: fixed;
    top: px2rem(40px);
    right: 0;
    left: 0;
    text-align: center;
    background-color: #497598;
    padding: 0 0 px2rem(4px) 0;
    z-index: 1;
}

$font-family-base: "Microsoft YaHei",
"微软雅黑";
$font-size-base: "14px";
input,
textarea {
    -moz-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
}

body {
    font-size: 1.4rem;
}

.buttons {
    margin-top: px2rem(15px);
}

.blue-theme {
    $main-color: #4191ec;
    $link-color: #105cb6;
    .mint-header {
        background-color: $main-color;
    }
    .mint-button--primary {
        background-color: $main-color;
    }
    .diag-radio:checked,
    .diag-radio.diag-checked,
    .diag-checkbox:checked,
    .diag-checkbox.diag-checked {
        background-color: $main-color;
        border-color: $main-color;
    }
    .diag-radio:disabled,
    .diag-radio.diag-disabled,
    .diag-checkbox:disabled,
    .diag-checkbox.diag-disabled {
        background-color: #dddddd;
        border: solid 1px #dddddd;
    }
    .edit-link,
    a:link,
    .switch-link {
        color: $link-color;
    }
    .diag-chat .diag-chat-right .diag-chat-content {
        background-color: #499af7 !important;
    }
    .diag-chat .diag-chat-right .diag-chat-arrow {
        background-image: linear-gradient(45deg, #499af7, #499af7 50%, transparent 50%);
    }
}

.diag-recommend-doctors {
    text-align: center;
}

.picker-item.picker-selected {
    color: #053bd4
}

.picker-center-highlight {
    height: px2rem(36px);
    margin-top: px2rem(-18px);
    background: #a0d2fd;
    opacity: 0.3;
}
.form-group {
    display: flex;
    align-items: center;
    .radio-inline-wrapper {
        display: flex;
        .radio-inline{
            display: flex;
            align-items: center;
            margin-right: px2rem(15px);
            input[type="radio"]{
                width:1.6rem;
                height: 1.6rem;
                position: inherit;
                margin-right: px2rem(5px);
            }
            .radio-inline-content {
                display: flex;
                align-items: center;
                line-height: 1;
            }
        }

    }
    .checkbox-inline-wrapper {
        display: flex;
        height: 4rem;
        .checkbox-inline{
            display: flex;
            align-items: center;
            input[type="checkbox"] {
                width:1.6rem;
                height: 1.6rem;
            }
            .checkbox-inline-content {
                display: flex;
                align-items: center;
                line-height: 1;
            }
        }
    }
}
.title-emphasize {
    color: $color-red;
}

